# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
bin/
include/
lib/
lib64/
local/
Scripts/
*.sage.py
pyvenv.cfg
.python-version

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a script, but they do not need to be committed.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/

# C extensions
*.so

# macOS
.DS_Store

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo 

generated/
